[Desktop Entry]
Encoding=UTF-8
Categories=GNOME;Utility;
Comment=personal sync
Exec=persy --start
GenericName=personal sync
Icon=persy.png
Name=Persy
Type=Application
