[Desktop Entry]
Encoding=UTF-8
Categories=GNOME;Utility;
Comment=personal sync
Exec=persy
GenericName=personal sync
Icon=persy
Name=Persy
Type=Application
