Package: persy
Version: 0.8.1
Architecture: all
Maintainer: Dennis Schwertel <s@digitalkultur.net>
Installed-Size: 92
Depends: git-core, git, python-pyinotify, python-paramiko, python-gtk2, python-glade2, python-notify, python (>= 2.6), python (<< 3), gitk | qgit, xterm, librsvg2-common
Recommends: fortune
Section: admin
Priority: optional
Homepage: https://launchpad.net/persy
Description: personal syncronization
 backup or synchronize your data with multiple machines.
 persy is designed to run by its own on the computer or in an environment with
 at least one server in reach of every computer with synced files.
