* {
	font-family:helvetica,arial,freesans,clean,sans-serif;
	font-size:13.34px;

}
p {
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;	
}

h1 {
	font-size:170% !important;
	margin-top:1.5em !important;
	padding-top:0.5em !important;
}
pre {
	background-color:#F8F8FF !important;
	border:1px solid #DEDEDE !important;
	color:#444444 !important;
	font-size:90% !important;
	line-height:1.5em !important;
	margin:1em 0 !important;
	overflow:auto !important;
	padding:0.5em !important;
}

a:hover {
	text-decoration:underline;
}

a {
	color:#4183C4;
	text-decoration:none;
}
