Source: persy
Section: admin
Priority: optional
Maintainer: Dennis Schwertel<s@digitalkultur.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: persy
Architecture: all
Depends: git-core, git, python-pyinotify, python-paramiko
Description: persy
 THIS IS EXPERIMENTAL, DONT USE IT!
