Source: persy
Section: admin
Priority: optional
Maintainer: Dennis Schwertel <s@digitalkultur.net>
Build-Depends: debhelper (>= 5.0.51)
Standards-Version: 3.9.1
Homepage: https://persy.digitalkultur.net

Package: persy
Architecture: all
Depends:  ${misc:Depends}, git-core, python-pyinotify, python-paramiko, python-gtk2, python-glade2, python-notify, python (>= 2.6), python (<< 3), gitk | qgit, xterm, librsvg2-common, python-configobj
Recommends: fortune
Description: personal syncronization
 persy is a git-based automated incremental backup tool for your personal files and folders. 
 It also has the ability to synchronize your data over multiple machines.
